<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer id="footer" class="footer-wrapper">
    
        <div class="row row-collapse row-dashed" id="row-1730635181">
    
    
            <div id="col-700873172" class="col medium-3 small-6 large-3">
                <div class="col-inner">
    
    
    
                    <div id="text-2312883048" class="text">
    
    
                        <p>HOTLINE</p>
                        <h3>0902.388977 (giờ HC)<br>
                            091.2222.592 (24/7)</h3>
    
                        <style>
                            #text-2312883048 {
                                text-align: center;
                            }
                        </style>
                    </div>
    
    
                </div>
            </div>
    
    
    
            <div id="col-952378746" class="col medium-3 small-6 large-3">
                <div class="col-inner">
    
    
    
                    <div id="text-1621095805" class="text">
    
    
                        Tư vấn chuyên môn (08:30-19:00)
                        <h3>DS Da liễu. Trúc Thanh 0938449788</h3>
                        Tất cả các ngày trong tuần
    
                        <style>
                            #text-1621095805 {
                                text-align: center;
                            }
                        </style>
                    </div>
    
    
                </div>
            </div>
    
    
    
            <div id="col-1081563048" class="col medium-3 small-6 large-3">
                <div class="col-inner">
    
    
    
                    <div id="text-2979114499" class="text">
    
    
                        Góp ý khiếu nại
                        <h3>0903.717.688 (24/7)</h3>
                        Tất cả các ngày trong tuần
    
                        <style>
                            #text-2979114499 {
                                text-align: center;
                            }
                        </style>
                    </div>
    
    
                </div>
            </div>
    
    
    
            <div id="col-2038420652" class="col medium-3 small-6 large-3">
                <div class="col-inner">
    
    
    
                    <p><strong>Đăng ký nhận tin khuyến mãi</strong></p>
                    <div role="form" class="wpcf7" id="wpcf7-f271-o2" lang="vi" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/#wpcf7-f271-o2" method="post" class="wpcf7-form init" novalidate="novalidate"
                            data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="271">
                                <input type="hidden" name="_wpcf7_version" value="5.5.6.1">
                                <input type="hidden" name="_wpcf7_locale" value="vi">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f271-o2">
                                <input type="hidden" name="_wpcf7_container_post" value="0">
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                            </div>
                            <div class="flex-row form-flat medium-flex-wrap">
                                <div class="flex-col flex-grow">
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email"
                                            value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                            aria-required="true" aria-invalid="false" placeholder="Email*"></span>
                                </div>
                                <div class="flex-col ml-half">
                                    <input type="submit" value="Gửi"
                                        class="wpcf7-form-control has-spinner wpcf7-submit button"><span
                                        class="wpcf7-spinner"></span>
                                </div>
                            </div>
                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                    </div>
    
    
                </div>
            </div>
    
    
    
        </div>

        
        <div class="row row-collapse align-center row-dashed" id="row-1288481359">
    
    
            <div id="col-783643973" class="col medium-3 small-12 large-3">
                <div class="col-inner">
    
    
    
                    <h5 style="color: #fff;">Zomedical.vn</h5>
                    <p>ED BEAUTY</p>
                    <ul id="footer-contact" class="footer-contact">
                        <li class="">181 Cao Thắng, Q.10, HCM</li>
                        <li class=""><a class="tooltip tooltipstered" href="mailto:admin@zomedical.vn"><i
                                    class="icon-envelop icon-f" style="font-size: 16px;"></i>admin@zomedical.vn</a></li>
                        <li class=""><a class="tooltip tooltipstered" href="https://zomedical.vn"><i
                                    class="icon-clock icon-f" style="font-size: 16px;"></i>08:30 - 20:00 (chủ nhật nghỉ)</a>
                        </li>
                        <li class=""><a class="tooltip tooltipstered" href="https://zomedical.vn"><i
                                    class="icon-phone icon-f" style="font-size: 16px;"></i>Hotline: 091.2222.592 (24/7)</a>
                        </li>
                    </ul>
    
                    <div id="text-470465798" class="text hidden">
    
    
                        <h5 style="color: #fff;">Zomedical Việt Nam</h5>
                        <p>Công ty TNHH TM DV XNK Đẹp Mỗi Ngày</p>
                        <ul id="footer-contact" class="footer-contact">
                            <li class="">181 Cao Thắng, Q.10, HCM</li>
                            <li class=""><a class="tooltip tooltipstered" href="mailto:admin@zomedical.vn"><i
                                        class="icon-envelop icon-f" style="font-size: 16px;"></i>admin@zomedical.vn</a></li>
                            <li class=""><a class="tooltip tooltipstered" href="https://zomedical.vn"><i
                                        class="icon-clock icon-f" style="font-size: 16px;"></i>08:30 - 19:00</a></li>
                        </ul>
                        <div style="text-align: justify;">Mã số thuế: 0312989519</div>
                        <div style="text-align: justify;">Cấp ngày: 28/10/2014</div>
                        <div style="text-align: justify;"><span style="font-size: 80%;">Do Phòng Đăng Ký kinh doanh – Sở Kế
                                hoạch và Đầu tư TP. Hồ Chí Minh.</span></div>
                    </div>
    
    
                </div>
            </div>
    
    
    
            <div id="col-1782574272" class="col medium-3 small-12 large-3">
                <div class="col-inner">
    
    
    
                    <ul id="footer-contact" class="footer-contact">
                        <li class=""><a class="tooltip tooltipstered" href="tel:0902677745"><i class="icon-phone icon-f"
                                    style="font-size: 16px;"></i>Tư vấn 1: 0902677745 (8h30 - 19h)</a></li>
                        <li class=""><a class="tooltip tooltipstered" href="tel:0906664788"><i class="icon-phone icon-f"
                                    style="font-size: 16px;"></i>Tư vấn 2: 093.8449788 (8h30 - 19h)</a></li>
                    </ul>
                    <div class="fb-page" data-href="https://www.facebook.com/edskinbeauty460" data-tabs="" data-width=""
                        data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                        data-show-facepile="true">
                        <blockquote class="fb-xfbml-parse-ignore" cite="https://www.facebook.com/edskinbeauty460">
                            <p><a href="https://www.facebook.com/edskinbeauty460">ED Skin Beauty</a></p>
                        </blockquote>
                    </div>
                    <p><a href="http://online.gov.vn/Home/WebDetails/96477"><img alt="" title=""
                                src="//zomedical.vn/wp-content/uploads/2022/08/logoSaleNoti.png"></a></p>
    
                </div>
            </div>
    
    
    
            <div id="col-1745615817" class="col medium-3 small-12 large-3">
                <div class="col-inner">
    
    
    
                    <h3>Chính sách</h3>
                    <div class="ux-menu stack stack-col justify-start ux-menu--divider-solid">
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/chinh-sach-bao-mat/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách bảo vệ thông tin cá nhân </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/hinh-thuc-van-chuyen/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách vận chuyển và giao nhận </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex"
                                href="https://zomedical.vn/chinh-sach-tra-hang-va-hoan-tien/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách đổi trả và hoàn tiền </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/chinh-sach-bao-hanh/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách bảo hành </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex"
                                href="https://zomedical.vn/giai-quyet-tranh-chap-va-khieu-nai/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách giải quyết tranh chấp và khiếu nại </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/chinh-sach-va-quy-dinh-chung/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách và quy định chung </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/chinh-sach-kiem-hang/">
                                <i class="ux-menu-link__icon text-center icon-angle-right"></i> <span
                                    class="ux-menu-link__text">
                                    Chính sách kiểm hàng </span>
                            </a>
                        </div>
    
    
    
                    </div>
    
    
                </div>
            </div>
    
    
    
            <div id="col-442409479" class="col medium-3 small-12 large-3">
                <div class="col-inner text-left">
    
    
    
                    <h3>Hỗ trợ khách hàng</h3>
                    <div class="ux-menu stack stack-col justify-start ux-menu--divider-solid">
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/ve-zomedical/">
                                <span class="ux-menu-link__text">
                                    Giới thiệu ZoMedical </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/chu-so-huu-website/">
                                <span class="ux-menu-link__text">
                                    Chủ sở hữu website </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn/mien-tru-trach-nhiem/">
                                <span class="ux-menu-link__text">
                                    Miễn trừ trách nhiệm </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn">
                                <span class="ux-menu-link__text">
                                    Người chịu trách nhiệm : Phan Thanh Tùng </span>
                            </a>
                        </div>
    
    
                        <div class="ux-menu-link flex menu-item">
                            <a class="ux-menu-link__link flex" href="https://zomedical.vn">
                                <span class="ux-menu-link__text">
                                    Công ty TNHH TM DV XNK Đẹp Mỗi Ngày </span>
                            </a>
                        </div>
    
    
    
                    </div>
    
    
                </div>
    
                <style>
                    #col-442409479>.col-inner {
                        padding: 0px 0px 0px 6px;
                        margin: 0px 0px 0px 10px;
                    }
                </style>
            </div>
    
    
    
    
            <style>
                #row-1288481359>.col>.col-inner {
                    padding: 20px 0px 0px 0px;
                }
            </style>
        </div>
        <div class="row row-collapse row-divided" id="row-9578541">
    
    
            <div id="col-1908597257" class="col hide-for-medium small-12 large-12">
                <div class="col-inner">
    
    
    
    
                </div>
            </div>
    
    
    
    
            <style>
                #row-9578541>.col>.col-inner {
                    padding: 20px 0px 0px 0px;
                }
            </style>
        </div>
        <div class="list_menu_h row large-columns-1 mb-0">
            <div class="btm-slider">
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/cham-soc-da/kem-chong-nang/"><img
                            class="owl-btm-img" src="/images/icon-kem-chong-nang.png" alt="Kem chống nắng"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/cham-soc-da/kem-chong-nang/">Chống nắng</a></div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/cham-soc-da/tri-nam/"><img
                            class="owl-btm-img" src="/images/icon-kem-duong-da.png" alt="Kem trị nám"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/cham-soc-da/tri-nam/">Trị nám</a></div>
                <div class="iteam_menu iteam_menu_bd"><a href="https://zomedical.vn/d/cham-soc-da/"><img class="owl-btm-img"
                            src="/images/icon-cham-soc-body.png" alt="Chăm Sóc Da"></a> <a class="h-title-menu"
                        href="https://zomedical.vn/d/cham-soc-body/">Chăm Sóc Da</a></div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/cham-soc-da/chong-lao-hoa/"><img
                            class="owl-btm-img" src="/images/icon-kem-chong-lao-hoa.png" alt="Chống lão hóa"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/cham-soc-da/chong-lao-hoa/">Chống lão hóa</a>
                </div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/cham-soc-da/tay-te-bao-da-chet/"><img
                            class="owl-btm-img" src="/images/icon-tay-te-bao-chet.png" alt="Tẩy tế bào chết"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/cham-soc-da/tay-te-bao-da-chet/">Tẩy tế bào
                        chết</a></div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/cham-soc-da/kem-duong-am/"><img
                            class="owl-btm-img" src="/images/icon-kem-xoa-nhan.png" alt="Dưỡng ẩm"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/cham-soc-da/kem-duong-am/">Dưỡng ẩm</a></div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/cham-soc-da/kem-duong-trang/"><img
                            class="owl-btm-img" src="/images/icon-kem-makeup.png" alt="Dưỡng trắng"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/cham-soc-da/kem-duong-trang/">Dưỡng trắng</a>
                </div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/chuan-bi-da/"><img class="owl-btm-img"
                            src="/images/icon-sua-rua-mat.png" alt="Sữa rửa mặt"></a> <a class="h-title-menu"
                        href="https://zomedical.vn/d/chuan-bi-da/">Sữa rửa mặt</a></div>
                <div class="iteam_menu iteam_menu_qa"><a href="https://zomedical.vn/d/phuc-hoi-tai-tao/"><img
                            class="owl-btm-img" src="/images/icon-vien-uong.png" alt="Phục hồi tái tạo da"></a> <a
                        class="h-title-menu" href="https://zomedical.vn/d/phuc-hoi-tai-tao/">Phục hồi</a></div>
            </div>
        </div>
        <div class="absolute-footer dark medium-text-center small-text-center">
            <div class="container clearfix">
    
    
                <div class="footer-primary pull-left">
                    <div class="copyright-footer">
                        Copyright 2022 © <strong>Zomedical.vn</strong>
                        <a href="https://www.dmca.com/Protection/Status.aspx?ID=f9be4ca4-95cd-4814-988e-d4d6c4823692&amp;refurl=https://zomedical.vn/"
                            title="DMCA.com Protection Status" class="dmca-badge"> <img
                                src="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=f9be4ca4-95cd-4814-988e-d4d6c4823692"
                                width="121px" height="24px" alt="DMCA.com Protection Status"></a>
                        <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js" defer=""></script>
                    </div>
                </div>
            </div>
        </div>
    
        <a href="#top"
            class="back-to-top button icon invert plain fixed bottom z-1 is-outline left hide-for-medium circle active"
            id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>
    
    </footer>
</body>
</html>