body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fontMain {
  font-family: "Montserrat", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logoColor: #45aece;
  --logoColorBold: #a8e3f3;
  --mainColor: #29335c;
  --textColor: #eee;
  --bgBody: #f0f0f0;
}
