.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  left: 10px;
  top: 0;
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  color: gray;
  font-size: 10px;
}
.form-label {
  transition: 0.25s ease;
}

.form-input:not(:placeholder-shown) + .form-label-2,
.form-input:focus + .form-label-2 {
  left: 52.5%;
  top: 0;
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  color: gray;
  font-size: 13px;
}
.form-label-2 {
  transition: 0.25s ease;
}

@media only screen and (max-width: 768px) {
  .form-input:not(:placeholder-shown) + .form-label-2,
  .form-input:focus + .form-label-2 {
    left: 54%;
  }
  .form-label-2 {
    left: 55%;
  }
}

.wrapper_loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0%;
  z-index: 9999;
}
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  border: 15px solid rgb(245, 245, 245);
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.select-checkout {
  border-radius: 8px;
  padding: 0px 20px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
