.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  left: 10px;
  top: 0;
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  color: #0a0f9e;
  font-size: 13px;
}
.form-label {
  transition: 0.25s ease;
}

.form-input:not(:placeholder-shown) + .form-label-2,
.form-input:focus + .form-label-2 {
  left: 52.5%;
  top: 0;
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  color: #0a0f9e;
  font-size: 13px;
}
.form-label-2 {
  transition: 0.25s ease;
}

@media only screen and (max-width: 768px) {
  .form-input:not(:placeholder-shown) + .form-label-2,
  .form-input:focus + .form-label-2 {
    left: 54%;
  }
  .form-label-2 {
    left: 55%;
  }
}
