.footer-wrapper {
    background-color: #060e9f;
    width: 100%;
    position: relative;
    display: block;
    color: #fff;
}
.row.row-collapse {
    max-width: 1180px;
}
.row-footer{
    text-align: center;
}
.colum-footer{
    padding: 20px 0px 0px 0px;
    border-left: 1px dashed white;
}

.menu-item{
    border-bottom: 1px solid white;
}
.iteam_menu {
    text-align: center;
    margin: 3px;
    padding: 3px;
}
.input-footer{
    height: 35px;
    width: 90px;
    border-radius: 99px;
    border: 1.5px solid rgb(25, 122, 209);
    color: #197ad1 !important;
    background: transparent;
    box-shadow: none;
}
.faCircle{
    font-size: 5px;
}