:root {
  --logoColor: #45aece;
  --logoColorBold: #a8e3f3;
  --mainColor: #29335c;
  --textColor: #eee;
  --bgBody: #f0f0f0;
  --bgcolor: #30703a;
  --bordercolor: #93cb9c;
}
.icon {
  width: 25px;
  height: 25px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: black;
  transition: 0.5s;
  padding: 3px 6px;
}
.icon:hover {
  cursor: pointer;
  color: gray;
  width: 20px;
  height: 20px;
}
.logo a {
  text-decoration: none;
}

.logo:hover a {
  color: white;
}
/* ---navbar---- */
.nav-main {
  color: var(--textColor);
}

.nav-main div a p {
  color: black;
  font-weight: 500;
}

.nav-main .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
}
@media only screen and (max-width: 1024px) {
  .nav-main .nav-btn {
    visibility: visible;
    opacity: 1;
    padding: 5px 15px;
    background-color: black;
  }
  .nav-main div {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
    transition: 1s;
    transform: translateX(-100vw);
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body {
    background-color: white;
  }
  .nav-main div a {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
  }
  .nav-main .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 2px solid red;
  }
}
